@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --negro: #000000;
    --negro-mate-charcoal: #2c2c2c;
    --blanco: #ffffff;
    --blanco-mate: #ededed;
    --morado-mate: #3D2B56;
    --fuente-principal: "Funnel Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
}

html{
    font-size: 62.5%;
}

body{
    background: var(--negro-mate-charcoal) url(../img/fondo.png);
    background-position: center;
    background-blend-mode: multiply;
    min-height: 100vh;
    padding: 0 10rem;
    position: relative;
}

/* Header Main */
.head-box{
    animation: arriba-abajo-header 800ms linear;
    margin: 2rem auto;
    width: 55rem;
}

.head-box nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.head-box nav a{
    color: var(--blanco-mate);
    font-size: 2.2rem;
    font-weight: bold;
    overflow-x: hidden;
    padding: .2rem 0;
    text-decoration: none;
    position: relative;
}

.head-box nav a:hover::before{
    animation: mover-linea-nav 1.5s linear infinite both;
    content: "";
    background: linear-gradient(to right, var(--morado-mate) , var(--blanco));
    position: absolute;
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 50%;
}


@keyframes arriba-abajo-header {
    from{
        transform: translateY(-150%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes mover-linea-nav{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(200%);
    }
}

/* Main Main */
main{
    overflow-x: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Informacion Personal Main */
.info-personal-box{
    animation: apareciendo 1s linear both;
    height: 100vh;
    padding-bottom: 10rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes apareciendo{
    0%{
        opacity: 0;
        scale: .5;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

.skills-pulso{
    animation: pulso-skills 1.5s linear infinite 1s both;
    color: var(--blanco-mate);
    font-size: 2.3rem;
    font-weight: bold;
    width: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 90rem;
}

.info-personal-box .skills-pulso i{
    color: var(--blanco-mate);
    font-size: 2.3rem;
}

@keyframes pulso-skills{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20%);
    }
    100%{
        transform: translateY(0);
    }
}

.avatar-nombre{
    padding: 24rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.avatar-nombre img{
    border-radius: 50%;
    height: 30rem;
}

.info-personal-box .avatar-nombre p{
    background: var(--morado-mate);
    color: var(--blanco-mate);
    font-size: 2.5rem;
    font-weight: 500;
    padding: .5rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 3rem var(--morado-mate);
}

.yo{
    width: 70%;
}

.info-personal-box .yo h1{
    color: var(--blanco-mate);
    font-size: 4rem;
    padding-bottom: 1rem;
    position: relative;
}

.info-personal-box .yo h1::before{
    content: "";
    background: linear-gradient(to right, var(--morado-mate) , var(--blanco));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .4rem;
}

.info-personal-box .yo p{
    color: var(--blanco-mate);
    font-size: 2rem;
    margin-top: 2rem;
}

.skills-box{
    width: 100%;
}

.skills-box h2{
    color: var(--blanco-mate);
    font-size: 4rem;
    padding-bottom: 2rem;
    position: relative;
}

.skills-box h2::before{
    content: "";
    background: linear-gradient(to right, var(--morado-mate) , var(--blanco));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .4rem;
}

.mov-box{
    padding: 2rem 0;
    width: 300%;
}

.slider-box{
    animation: mover-skills 30s linear infinite alternate both;
    display: flex;
    justify-content: space-between;
    &.slider-box:hover{
        animation-play-state: paused;
        cursor: pointer;
    }
}

.slider-box img{
    height: 10rem;
}

@keyframes mover-skills{
    from{
        transform: translateX(8%);
    }

    to{
        transform: translateX(-70%);
    }
}

.btn-subir{
    animation: btn-subir-on 250ms linear both;
    background: var(--blanco-mate);
    border-radius: 50%;
    box-shadow: 0 0 1.5rem var(--blanco);
    display: none;
    padding: 2rem;
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
}

.btn-subir img{
    position: absolute;
    top: .7rem;
    left: .75rem;
}

@keyframes btn-subir-on{
    from{
        scale: .5;
    }
    
    to{
        scale: 1;
    }
}

.pulso{
    animation: pulso 3s linear both;
}

@keyframes pulso{
    from{
        text-shadow: 0 0 2rem var(--blanco);
    }
    to{
        text-shadow: none;
    }
}


.contacto-cont{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacto-cont h2{
    color: var(--blanco-mate);
    font-size: 4rem;
    padding-bottom: 2rem;
    position: relative;
}

.contacto-cont h2::before{
    content: "";
    background: linear-gradient(to right, var(--morado-mate) , var(--blanco));
    position: absolute;
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 100%;
}

.contacto-box{
    height: 20rem;
}

.contacto-box p{
    color: var(--blanco-mate);
    font-size: 2.5rem;
    font-weight: 500;
    height: 50%;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.redes h3{
    color: var(--blanco-mate);
    font-size: 2.6rem;
    padding-bottom: .3rem;
    position: relative;
}

.redes h3::before{
    content: "";
    background: linear-gradient(to right, var(--morado-mate) , var(--blanco));
    position: absolute;
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 100%;
}

.links-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 40rem;
}

.links-redes a{
    animation: pulso-corazon 3s linear infinite both;
    color: var(--blanco-mate);
    text-decoration: none;
}

.links-redes .gmail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.links-redes i{
    font-size: 3rem;
}

.gmail span{
    font-size: 2rem;
    color: var(--blanco-mate);
}

.gmail img{
    height: 3rem;
    width: 3rem;
}
